<!-- File: WK2_Assignment_Files/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breast Cancer Prediction</title>
</head>
<body>
    <h2>Breast Cancer Predictor</h2>
    <form method="post" action="/predict">
        <label>Clump Thickness:</label><input type="number" name="Clump_thickness"><br>
        <label>Uniformity of Cell Size:</label><input type="number" name="Uniformity_of_cell_size"><br>
        <label>Uniformity of Cell Shape:</label><input type="number" name="Uniformity_of_cell_shape"><br>
        <label>Marginal Adhesion:</label><input type="number" name="Marginal_adhesion"><br>
        <label>Single Epithelial Cell Size:</label><input type="number" name="Single_epithelial_cell_size"><br>
        <label>Bare Nuclei:</label><input type="number" name="Bare_nuclei"><br>
        <label>Bland Chromatin:</label><input type="number" name="Bland_chromatin"><br>
        <label>Normal Nucleoli:</label><input type="number" name="Normal_nucleoli"><br>
        <label>Mitoses:</label><input type="number" name="Mitoses"><br>
        <button type="submit">Predict</button>
    </form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
